body {
    margin: 0;
    height: auto;
    background: radial-gradient(circle at center, #f3e66c 0%, orange, #ff0000 80%);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    text-align: center;
}

header {
    text-align: center;
    padding: 1rem 0;
}

.banner {
    background-image: url('imagens/imagem-principal.png');
    background-size: cover;
    background-position: center;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.ficha {
    
    width: 80%;
    max-width: 600px;
    margin: 30px auto;
    padding: 30px;
    background: linear-gradient(to bottom, #f8edd1, #ead7a4);
    border: 3px solid #8a6a3a;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    color: #3a2615;
}

.campo input,
.campo select,
.campo textarea {
    width: 90%;
    margin: 0 auto;
    display: block;
    padding: 10px;
    border: 1px solid #8b6b3f;
    border-radius: 6px;
    background-color: #fff8e8;
    color: #3a2615;
}

button {
    width: auto;
    box-shadow: 0 0 10px black;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    margin: 20px;
    cursor: pointer;
}

.atributos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.atributo {
    width: 30%;
    background: #f4e7c5;
    padding: 10px;
    border: 1px solid #8b6b3f;
    border-radius: 6px;
    text-align: center;
}

.nome-atributo {
    margin: 0 0 10px 0;
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

.atributo-carisma {
    color: rgb(240, 146, 162);
}

.atributo-constituicao {
    color: rgb(40, 177, 40);
}

.atributo-destreza {
    color: rgb(182, 182, 79)
}

.atributo-energia {
    color: rgb(121, 40, 121);
}

.atributo-forca {
    color: rgb(253, 63, 63);
}

.atributo-inteligencia {
    color: rgb(120, 194, 219);
}

.atributo-vontade {
    color: gray;
}